name: glog.ai_no_compile_scan

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Glog
    - name: Checkout glog-action repository
      uses: actions/checkout@v4
      with:
        repository: glogai/glog-action
        token: ${{ secrets.PAT_TOKEN }}
        path: .github/glog-action
        ref: main

    - name: Run Glog.AI from private repo
      uses: ./.github/glog-action
      with:
        lang: ''
        debug: 'true'
        upload: 'true'
        github-token: ${{ secrets.PAT_TOKEN }}
        glog-token: ${{ secrets.GLOG_TOKEN }}
